{% extends 'base.html.twig' %}

{% block title %}
    Wish details | {{ parent() }}
{% endblock %}

{% block body %}
    <div><b>{{ wish.title }} ({{ wish.category.name }})</b><br>
    <i>Created by <b>{{ wish.author }}</b> on {{ wish.dateCreated |date('Y-m-d') }}</i></div><br>
    <div>{{ wish.description }}</div>
{% endblock %}